 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/images/_109347319_gettyimages-611195980.jpg");
  background-position: 51.63% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 17px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 18px 0 0;
}

.u-section-1 .u-tabs-1 {
  min-height: 627px;
  margin-top: 44px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-tab-link-1 {
  font-weight: 500;
  font-size: 1.875rem;
}

.u-section-1 .u-container-layout-1 {
  padding: 28px 18px;
}

.u-section-1 .u-text-3 {
  margin: 19px 315px 0 588px;
}

.u-section-1 .u-text-4 {
  margin: -38px auto 0 39px;
}

.u-section-1 .u-text-5 {
  margin: -38px 63px 0 auto;
}

.u-section-1 .u-text-6 {
  margin: -39px auto 0 301px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #db545a, black);
  margin: 46px auto 0 39px;
  padding: 10px 49px 10px 48px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #db545a, black);
  margin: -43px 308px 0 auto;
  padding: 10px 18px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #db545a, black);
  margin: -46px auto 0 311px;
  padding: 10px 50px 10px 49px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #db545a, black);
  margin: -43px 31px 0 auto;
  padding: 10px 63px 10px 61px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #db545a, black);
  margin: 51px 31px 0 auto;
  padding: 10px 51px 10px 50px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #db545a, black);
  margin: -48px auto 0 39px;
  padding: 10px 40px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #db545a, black);
  margin: -43px auto 0 311px;
  padding: 10px 41px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #db545a, black);
  margin: -44px 308px 0 auto;
  padding: 10px 15px 10px 14px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #db545a, black);
  margin: 44px auto 0 39px;
  padding: 10px 56px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #db545a, black);
  margin: -45px auto 0 311px;
  padding: 10px 57px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  text-decoration: underline !important;
  font-size: 3.75rem;
  margin: -608px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 258px;
    margin-left: 488px;
    width: 201px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 108px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 111px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 111px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 108px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 111px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 195px;
    margin-left: 378px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 228px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 148px;
    margin-left: 296px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 173px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 91px;
    margin-left: 119px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 106px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/images/_109347319_gettyimages-611195980.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 950px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-decoration: underline !important;
  margin: 89px auto 0;
}

.u-section-2 .u-tabs-1 {
  min-height: 627px;
  height: auto;
  margin-top: -80px;
  margin-bottom: 60px;
}

.u-section-2 .u-tab-link-1 {
  font-weight: 500;
  font-size: 1.875rem;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 66px 160px 0 688px;
}

.u-section-2 .u-text-3 {
  margin: -39px auto 0 56px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #db545a, black);
  margin: 43px auto 0 77px;
  padding: 10px 18px 10px 17px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #db545a, black);
  margin: -45px 310px 0 auto;
  padding: 10px 18px;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #db545a, black);
  margin: -45px 66px 0 auto;
  padding: 10px 19px 10px 18px;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #db545a, black);
  margin: 43px 310px 0 auto;
  padding: 10px 28px;
}

.u-section-2 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #db545a, black);
  margin: -45px auto 0 77px;
  padding: 10px 35px 10px 34px;
}

.u-section-2 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #db545a, black);
  margin: -45px 66px 0 auto;
  padding: 10px 6px 10px 5px;
}

.u-section-2 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #db545a, black);
  margin: 43px 313px 0 auto;
  padding: 10px 8px;
}

.u-section-2 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #db545a, black);
  margin: -45px 69px 0 auto;
  padding: 10px 37px 10px 36px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-2 .u-tabs-1 {
    margin-top: 168px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 60px;
    margin-left: 588px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 110px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 110px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-7 {
    margin-right: 113px;
  }

  .u-section-2 .u-btn-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 428px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-7 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 288px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-tabs-1 {
    margin-top: 201px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 88px;
  }
}