{% extends 'mathem/base.html' %}
{% load static %}


{% block content %}
    <section class="u-section">
    <section class="u-clearfix u-image u-shading u-section-1" id="sec-c222" data-image-width="640" data-image-height="360">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-body-alt-color u-text-default u-title u-text-1">Математика </h1>
        <p class="u-text u-text-body-alt-color u-text-default u-text-2">&nbsp;-&nbsp; это наука о количественных отношениях и пространственных формах. Осн. методом исследований процессов и явлений с помощью М. является создание формализов. модели изучаемого явления и её изучение математич. средствами. При недостаточном соответствии результатов, полученных при исследовании математич. модели, результатам непосредств. наблюдений этого явления требуется совершенствование модели. Типичным примером применения этого подхода может служить построение (и многократное совершенствование) модели движения планет Солнечной системы.&nbsp;</p>
        <div class="u-expanded-width u-tabs u-tabs-1">
          <ul class="u-spacing-100 u-tab-list u-unstyled" role="tablist">
            <li class="u-tab-item" role="presentation">
              <a class="active u-button-style u-tab-link u-tab-link-1" id="link-tab-5865" href="#tab-5865" role="tab" aria-controls="tab-5865" aria-selected="true">
                <br>
              </a>
            </li>
          </ul>
          <div class="u-tab-content">
            <div class="u-container-style u-tab-active u-tab-pane" id="tab-5865" role="tabpanel" aria-labelledby="link-tab-5865">
              <div class="u-container-layout u-container-layout-1">
                <h2 class="u-text u-text-3">Прогрессии</h2>
                <h2 class="u-text u-text-default u-text-4">Уравнения</h2>
                <h2 class="u-text u-text-default u-text-5">Функции</h2>
                <h2 class="u-text u-text-default u-text-6">Неравенства</h2>
                <a href="{% url 'equation_line' %}" class="u-border-none u-btn u-button-style u-gradient u-hover-palette-1-dark-1 u-none u-btn-1">линейные</a>
                <a href="https://nicepage.cloud" class="u-border-none u-btn u-button-style u-gradient u-hover-palette-1-dark-1 u-none u-btn-2">геометрическая</a>
                <a href="https://nicepage.cloud" class="u-border-none u-btn u-button-style u-gradient u-hover-palette-1-dark-1 u-none u-btn-3">линейные</a>
                <a href="https://nicepage.cloud" class="u-border-none u-btn u-button-style u-gradient u-hover-palette-1-dark-1 u-none u-btn-4">график</a>
                <a href="https://nicepage.cloud" class="u-border-none u-btn u-button-style u-gradient u-hover-palette-1-dark-1 u-none u-btn-5">свойства</a>
                <a href="https://nicepage.cloud" class="u-border-none u-btn u-button-style u-gradient u-hover-palette-1-dark-1 u-none u-btn-6">Квадратные</a>
                <a href="https://nicepage.cloud" class="u-border-none u-btn u-button-style u-gradient u-hover-palette-1-dark-1 u-none u-btn-7">квадратные</a>
                <a href="https://nicepage.cloud" class="u-border-none u-btn u-button-style u-gradient u-hover-palette-1-dark-1 u-none u-btn-8">арифметическая</a>
                <a href="https://nicepage.cloud" class="u-border-none u-btn u-button-style u-gradient u-hover-palette-1-dark-1 u-none u-btn-9">системы</a>
                <a href="https://nicepage.cloud" class="u-border-none u-btn u-button-style u-gradient u-hover-palette-1-dark-1 u-none u-btn-10">системы</a>
              </div>
            </div>
          </div>
        </div>
        <h1 class="u-text u-text-default u-text-7">Алгебра</h1>
      </div>
    </section>
    <section class="u-clearfix u-image u-shading u-section-2" id="sec-dd83" data-image-width="640" data-image-height="360">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">Геометрия</h1>
        <div class="u-expanded-width u-tabs u-tabs-1">
          <ul class="u-spacing-100 u-tab-list u-unstyled" role="tablist">
            <li class="u-tab-item" role="presentation">
              <a class="active u-button-style u-tab-link u-tab-link-1" id="link-tab-7603" href="#tab-7603" role="tab" aria-controls="tab-7603" aria-selected="true"></a>
            </li>
          </ul>
          <div class="u-tab-content">
            <div class="u-container-style u-tab-active u-tab-pane" id="tab-7603" role="tabpanel" aria-labelledby="link-tab-7603">
              <div class="u-container-layout u-container-layout-1">
                <h2 class="u-text u-text-2">Планиметрия</h2>
                <h2 class="u-text u-text-default u-text-3">Стереометрия</h2>
                <a href="https://nicepage.cloud" class="u-border-none u-btn u-button-style u-gradient u-hover-palette-1-dark-1 u-none u-btn-1">Площади фигур</a>
                <a href="https://nicepage.cloud" class="u-border-none u-btn u-button-style u-gradient u-hover-palette-1-dark-1 u-none u-btn-2">Площади фигур</a>
                <a href="https://nicepage.cloud" class="u-border-none u-btn u-button-style u-gradient u-hover-palette-1-dark-1 u-none u-btn-3">Периметр фигур</a>
                <a href="https://nicepage.cloud" class="u-border-none u-btn u-button-style u-gradient u-hover-palette-1-dark-1 u-none u-btn-4">треугольники</a>
                <a href="https://nicepage.cloud" class="u-border-none u-btn u-button-style u-gradient u-hover-palette-1-dark-1 u-none u-btn-5">объём фигур</a>
                <a href="https://nicepage.cloud" class="u-border-none u-btn u-button-style u-gradient u-hover-palette-1-dark-1 u-none u-btn-6">четурехугольники</a>
                <a href="https://nicepage.cloud" class="u-border-none u-btn u-button-style u-gradient u-hover-palette-1-dark-1 u-none u-btn-7">многоугольники</a>
                <a href="https://nicepage.cloud" class="u-border-none u-btn u-button-style u-gradient u-hover-palette-1-dark-1 u-none u-btn-8">окружность</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    </section>
{% endblock %}
  
</body>